.container {
  display: flex;
  width: 80vw;
  height: auto;
  padding: 2%;
  flex-direction: column;
  align-items: center;
}
.container button {
  max-width: 200px;
}
.container .mid {
  display: flex;
  width: 90vw;
  min-height: 30vh;
  padding: 2%;
  margin-top: 3%;
  justify-content: space-between;
}
.container .mid .report {
  display: flex;
  width: 25vw;
  min-height: 20vh;
  padding: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-direction: column;
  border-radius: 5px;
  background-color: red;
}
.container .mid .space {
  display: flex;
  width: 25vw;
  min-height: 20vh;
  padding: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-direction: column;
  border-radius: 5px;
  background-color: #09346a;
}
.container .mid .space .title {
  font-family: "Ubuntu";
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}
.container .mid .space .progress-holder {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container .mid .space .progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.container .order {
  display: flex;
  width: 25vw;
  min-height: 20vh;
  padding: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-direction: column;
  border-radius: 5px;
}
.container .order .title {
  font-family: "Ubuntu";
  font-size: 1.1em;
  font-weight: bold;
  color: #fcb454;
}
.container .order .btn {
  display: flex;
  max-height: 35px;
  min-width: 120px;
  font-size: 0.9em;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #09346a;
  color: #09346a;
}
.container .order .btn :hover {
  background-color: #09346a !important;
  color: white !important;
}
.container .order .btn:hover {
  background-color: #09346a;
  color: white;
}
.container .order .holder {
  display: flex;
  width: 95%;
  height: auto;
  margin-top: 2%;
  padding: 2%;
  gap: 1em;
}
.container .orders {
  display: flex;
  width: 70vw;
  min-height: 20vh;
  padding: 2%;
  padding-left: 3%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 3%;
  flex-direction: column;
}
.container .orders .title {
  font-family: "Ubuntu";
  font-size: 1.1em;
  font-weight: bold;
  color: #fcb454;
}
.container .orders .orders-holder {
  display: flex;
  width: 95%;
  height: auto;
  margin-top: 2%;
  padding: 2%;
  gap: 1em;
  flex-direction: column;
}
.container .order_holder {
  display: flex;
  width: 70vw;
  min-height: 20vh;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2%;
  padding-left: 3%;
  flex-direction: column;
}
.container .order_holder .title {
  display: flex;
  width: 90%;
  height: auto;
  padding-top: 2%;
  font-family: "Ubuntu";
  font-size: 1.1em;
  font-weight: bold;
  color: #fcb454;
}
.container .order_holder .orders-holder {
  display: flex;
  width: 95%;
  height: auto;
  margin-top: 2%;
  padding: 2%;
  gap: 1em;
  flex-direction: column;
}/*# sourceMappingURL=im-dashboard.component.css.map */