<div class="container">
    <div class="image-holder">
        <img src="../../assets/warehouse.jpg" alt="">
    </div>
    <div class="form-holder">
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <label  class="form-label">Username</label>
            <input type="text" class="form-control"  placeholder="Type your username" formControlName="username">
            <label  class="form-label">Password</label>
            <input type="password" class="form-control"  placeholder="Type your password" formControlName="password">
            <button type="submit" class="btn btn-warning" >Sign In</button>
        </form>
    </div>
</div>