<div class="container">
    <div class="sku_holder">
        <span class="title">Manage Supplies</span>
        <form  [formGroup]="supplyForm" (ngSubmit)="onSubmit()" novalidate>
            <input type="text" class="form-control"  placeholder="SKU"  formControlName="sku">
            <input type="text" class="form-control"  placeholder="Title" formControlName="title">
            <button type="submit" class="btn btn-warning" >+</button>
        </form>
        <div id="supply-holder" class="supply-holder">

        </div>
    </div>
    <div class="order_holder">
        <span class="title">Manage Orders</span>
        <div id="orders-holder" class="orders-holder">
            <table class="table">
                <thead>
                  <tr>
                    <th style="font-weight: 500;" scope="col">Order Id</th>
                    <th style="font-weight: 500;" scope="col">View</th>
                    <th style="font-weight: 500;" scope="col">Confirm</th>
                    <th style="font-weight: 500;" scope="col">Reject</th>
                  </tr>
                </thead>
                <tbody *ngFor="let order of orders.value">
                    <tr *ngIf="order.partner === this.supplierID.value && (order.orderStatus === 'placed' || order.orderStatus === 'confirmed')" >
                        <td>{{order.orderId}}</td>
                        <td><button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#orderModal" (click)="currentOrder(order)">View</button></td>
                        <!-- <td><img src="../../assets/show.png" alt=""  data-bs-toggle="modal" data-bs-target="#orderModal"  (click)="currentOrder(order)"style="width:30px;aspect-ratio: 1/1;"></td> -->
                        <td *ngIf="order.orderStatus === 'placed'"><button type="button" class="btn btn-outline-success" (click)="acceptOrder(order)" >Accept</button></td>
                        <td *ngIf="order.orderStatus === 'confirmed'"><button type="button" class="btn btn-info" (click)="dispatchOrder(order)" >Dispatch</button></td>
                        <td><button type="button" class="btn btn-outline-danger" (click)="rejectOrder(order)">Reject</button></td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
    <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="orderModalLabel">Order View</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body">
              <label for="" class="form-label"><span style="font-weight: 500;">OrderID :</span> {{order.value.orderId}}</label>
              <table class="table">
                <thead>
                  <tr>
                    <th style="font-weight: 500;" scope="col">SKU</th>
                    <th style="font-weight: 500;" scope="col">Title</th>
                    <th style="font-weight: 500;" scope="col">Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.order.value.items">
                    <td>{{item.sku}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.qty}}</td>
                  </tr>
                </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
</div>