<div class="container">
    <div class="image-holder">
        <img src="../../assets/warehouse.jpg" alt="">
    </div>
    <div class="form-holder">
        <div class="title">
            Register
        </div>
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
            <label for=""  class="form-label">Username</label>
            <input type="text" class="form-control"  placeholder="Type your username" formControlName="username">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control"  placeholder="Type your password" formControlName="password">
            <label for="" class="form-label">Role</label>
            <select class="form-select" aria-label="Default select example" formControlName="role">
                <option selected>Select Role</option>
                <option value="warehouse-manager">Warehouse Manager</option>
                <option value="inventory-manager">Inventory Manager</option>
                <option value="staff">Staff</option>
                <option value="supplier">Supplier</option>
                <option value="vendor">Vendor</option>
              </select>
            <button type="submit" class="btn btn-warning">Register</button>
        </form>
        <div class="subtitle">
            Already registered ?&nbsp; <a href="./"><span> Sign In</span></a>
        </div>
    </div>
</div>